.cta-button {
    background-color: red;
    color: white;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transform: skew(-20deg);
    line-height: 1.5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cta-button span {
    display: block;
    transform: skew(20deg);
}
.selectionCount{
    font-style: "italic";
    display: "flex";
    flex-direction: "row";
    float: "left";
    margin-right: "35px";
}

.totalOdds{
    float: right;
    margin: 5px 0px;
    font-weight: bold;
}